/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wawp-wawp-addon-wa-iframe {
	padding: 10px;
	border: 2px dotted black;
}
